.card{
  height: 250px;
  width: 350px;
  margin-top: 30px;
}

.card img{
  height: 250px;
  width: 250px;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;

}
.movie-container{
  margin: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
}

@media (max-width: 575.98px) { 
  .movie-container{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 45px;
  }
 }
 @media (max-width: 767.98px) { 

  .movie-container{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 45px;
  }

  }